body {
    background-color: #1A1A1A;
    color: #F0F0F0; /* text color */
 } 

.header-section {
    text-align: center;
}

#guess-section {
    text-align: center;
}

#guess-result {
    margin-top:0.5rem;
}

#gender-answer {
    opacity: 0;
    transition: opacity 3s ease;
    text-align: center;
    margin-top: 1.5rem;
}

#gender-answer.visible {
  opacity: 1;
  text-align: center;
}

#viz-container {
  opacity: 0;
  transition: opacity 4s ease;
  max-width: 1200px;
  margin: 0 auto;
}

#viz-container.visible {
  opacity: 1;
}

#legend {
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 0.9rem;

  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#legend.fade{
    opacity: 0;
}

.legend-title {
  font-weight: 600;
  margin-right: 8px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend-swatch {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#tooltip {
  position: absolute;
  pointer-events: none;  /* don't block mouse events on circles */
  background: #3d3b3b;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  visibility: hidden;   /* start hidden */
  white-space: pre-line; /* allow new lines */
}

.filtering-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.filter-card {
  padding: 0.4rem;
}

.other-views {
    margin-left: 9rem;
}

.happiness-axis {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.happiness-axis.visible {
    opacity: 1;
}

.happiness-label {
  font-size: 0.85rem;
  fill: #F0F0F0;
}